body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #333;
    color: white;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header .navbar {
    display: flex;
}

header .nav-links {
    display: flex;
    list-style-type: none;
}

header .nav-links li {
    margin: 0 1em;
}

header .nav-links a {
    text-decoration: none;
    color: white;
}

header .burger {
    display: none;
    cursor: pointer;
}

header .burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: 0.3s;
}

main {
    padding: 2em;
    text-align: center;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    padding: 2em;
}

.media-item img, .media-item video {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #555;
    transform: scale(1.05);
}
.media-grid iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}
